@font-face {
  font-family: "Gotham Pro Black";
  src: url(./fonts/gothampro_light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url(./fonts/gothampro.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url(./fonts/gothampro_medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url(./fonts/gothampro_bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Pro Black";
  src: url(./fonts/gothampro_black.ttf);
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
}

.none {
  display: none;
}

.adap {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gotham Pro Black";
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

body {
  background-image: linear-gradient(RGB(37, 34, 55), RGB(39, 45, 69));
  background-repeat: no-repeat;
}

.container {
  max-width: 1073px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  border: none;
  border-radius: 10px;
}

input {
  background-color: none;
  outline: none;
  border: none;
}

.main-fullscreen header.header-fullscreen nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-fullscreen header.header-fullscreen nav.nav .logo p {
  font-size: 25px;
  font-weight: 700;
}
.main-fullscreen header.header-fullscreen nav.nav ul {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.main-fullscreen header.header-fullscreen nav.nav ul li {
  padding: 0 30px;
  font-size: 18px;
  font-weight: 400;
}
.main-fullscreen header.header-fullscreen nav.nav ul li:hover a {
  transition: 0.1s;
  color: #e2521d;
}
.main-fullscreen header.header-fullscreen nav.nav .submit:hover p {
  transition: 0.1s;
  color: #e2521d;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content .left .wrapper-text {
  margin-top: -80px;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content .left .wrapper-text h1 {
  text-align: left;
  font-weight: 700;
  font-size: 70px;
  line-height: 65px;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content .left .wrapper-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.38px;
  padding-top: 30px;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content .left .wrapper-text button.none {
  display: none;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content .left .wrapper-text button {
  background-color: #e2521d;
  width: 367px;
  height: 80px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 70px;
  cursor: pointer;
}
.main-fullscreen header.header-fullscreen .wrapper-header-content .left .wrapper-text button:hover {
  background-color: #ffffff;
  color: #e2521d;
  transition: 0.1s all;
}

.main-about-course .wrapper-about-course {
  display: flex;
  justify-content: space-between;
}
.main-about-course .wrapper-about-course .right .wrapper-text {
  width: 90%;
  margin-left: 70px;
}
.main-about-course .wrapper-about-course .right .wrapper-text h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
}
.main-about-course .wrapper-about-course .right .wrapper-text p {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  color: #e2521d;
  padding-top: 40px;
}
.main-about-course .wrapper-about-course .right .wrapper-text p + p {
  font-size: 18px;
  line-height: 34px;
  color: #8997ab;
}

.main-learn-what h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  width: 49%;
  margin: 0 auto;
}
.main-learn-what .wrapper-learn-what {
  margin: 0 auto;
  width: 95%;
}
.main-learn-what .wrapper-learn-what .wrapper-post {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main-learn-what .wrapper-learn-what .wrapper-post .post {
  margin-top: 80px;
  width: 40%;
  margin-left: 5px;
}
.main-learn-what .wrapper-learn-what .wrapper-post .post .wrapper-img {
  position: relative;
}
.main-learn-what .wrapper-learn-what .wrapper-post .post .wrapper-img p {
  position: absolute;
  top: 10%;
  left: 7%;
  font-size: 25px;
  line-height: 68px;
  font-weight: 400;
  color: #e2521d;
}
.main-learn-what .wrapper-learn-what .wrapper-post .post .wrapper-text {
  height: 100px;
  width: 100%;
}
.main-learn-what .wrapper-learn-what .wrapper-post .post .wrapper-text p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  padding: 30px 0;
}

.main-course-program h4 {
  text-align: center;
  margin: 0 auto;
  width: 40%;
}
.main-course-program .wrapper-course-program {
  padding-top: 80px;
}
.main-course-program .wrapper-course-program ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-course-program .wrapper-course-program ul .wrapper-unfolding-list {
  width: 100%;
}
.main-course-program .wrapper-course-program ul li.post-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100px;
  border-radius: 2px;
  background-color: #0e1b28;
}
.main-course-program .wrapper-course-program ul li.post-list .wrapper-text {
  display: flex;
}
.main-course-program .wrapper-course-program ul li.post-list .wrapper-text p {
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
}
.main-course-program .wrapper-course-program ul li.post-list .wrapper-text p {
  padding: 0 5px;
}
.main-course-program .wrapper-course-program ul li.post-list .wrapper-click {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-course-program .wrapper-course-program ul li.post-list .wrapper-click p {
  font-size: 40px;
  font-weight: 300;
}
.main-course-program .wrapper-course-program ul ul.information-list {
  align-items: start;
  padding: 25px 0 0 0;
  overflow: hidden;
}
.main-course-program .wrapper-course-program ul ul.information-list li {
  padding: 10px 50px;
}
.main-course-program .wrapper-course-program ul #folding-list-1 {
  height: 0px;
}
.main-course-program .wrapper-course-program ul #folding-list-2 {
  height: 0px;
}
.main-course-program .wrapper-course-program ul #folding-list-3 {
  height: 0px;
}

.main-who-get-this-course h5 {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}
.main-who-get-this-course .wrapper-who-get-this-course {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-who-get-this-course .wrapper-who-get-this-course .left {
  width: 40%;
}
.main-who-get-this-course .wrapper-who-get-this-course .left .wrapper-img img {
  width: 150%;
}
.main-who-get-this-course .wrapper-who-get-this-course .right {
  width: 40%;
}
.main-who-get-this-course .wrapper-who-get-this-course .right .wrapper-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #e2521d;
  padding: 10px 0;
}
.main-who-get-this-course .wrapper-who-get-this-course .right .wrapper-text p + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  color: #8997ab;
}

.main-complete-course h6 {
  text-align: center;
}
.main-complete-course .wrapper-complete {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main-complete-course .wrapper-complete .post {
  width: 45%;
}
.main-complete-course .wrapper-complete .post .wrapper-text {
  height: 250px;
}
.main-complete-course .wrapper-complete .post .wrapper-text p {
  padding: 20px 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 22px;
}
.main-complete-course .wrapper-complete .post .wrapper-text p + p {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  color: #8997ab;
}

.main-join-course .wrapper-join-course {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 177px;
  background-color: #e2521d;
}
.main-join-course .wrapper-join-course .wrapper-text {
  text-align: center;
}
.main-join-course .wrapper-join-course .wrapper-text p {
  font-size: 23px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 20px;
}
.main-join-course .wrapper-join-course .wrapper-text p + p {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}
.main-join-course .wrapper-join-post {
  border-bottom: 1px solid #706470;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-join-course .wrapper-join-post .post {
  display: flex;
  align-items: center;
  width: 25%;
}
.main-join-course .wrapper-join-post .post p {
  padding-left: 20px;
  line-height: 25px;
}

.main-sub-footer .wrapper-sub-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-sub-footer .wrapper-sub-footer p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
}
.main-sub-footer .wrapper-sub-footer p span {
  color: #fa4682;
}
.main-sub-footer .wrapper-sub-footer p + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  padding: 20px 0;
}
.main-sub-footer .wrapper-sub-footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 458px;
}
.main-sub-footer .wrapper-sub-footer form input[type=text] {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #e2521d;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: #ffffff;
}
.main-sub-footer .wrapper-sub-footer form input[type=text]::-moz-placeholder {
  color: #ffffff;
}
.main-sub-footer .wrapper-sub-footer form input[type=text]::placeholder {
  color: #ffffff;
}
.main-sub-footer .wrapper-sub-footer form input[type=submit] {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #e2521d;
  font-size: 18px;
  font-weight: 800;
  line-height: 29.4px;
  margin-top: 20px;
  cursor: pointer;
}
.main-sub-footer .wrapper-sub-footer form input[type=submit]:hover {
  background-color: #ffffff;
  transition: 0.1s all;
  color: #e2521d;
}
.main-sub-footer .wrapper-sub-footer form .wrapper-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sub-footer .wrapper-sub-footer form .wrapper-checkbox input[type=checkbox] {
  height: 28px;
  width: 28px;
}
.main-sub-footer .wrapper-sub-footer form .wrapper-checkbox p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  padding-bottom: 10px;
  padding-left: 15px;
}

footer .wrapper-footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .wrapper-footer .post .wrapper-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .adap {
    display: block;
  }
  .main-fullscreen .header-fullscreen .nav ul li {
    display: none;
  }
  .main-fullscreen .header-fullscreen .nav .submit {
    display: none;
  }
  .main-fullscreen .header-fullscreen .wrapper-header-content .left {
    width: 100%;
    height: 450px;
    background-image: url(./img/fon\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-fullscreen .header-fullscreen .wrapper-header-content .left .wrapper-text h1.change {
    font-size: 40px;
    width: 80%;
    line-height: 40px;
  }
  .main-fullscreen .header-fullscreen .wrapper-header-content .left .wrapper-text p.change {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
  .main-fullscreen .header-fullscreen .wrapper-header-content .left .wrapper-text button.none {
    display: none;
  }
  .main-fullscreen .header-fullscreen .wrapper-header-content .left .wrapper-text button.change {
    display: block;
    background-color: #f54b31;
  }
  .main-about-course .wrapper-about-course {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .main-about-course .wrapper-about-course .left .wrapper-image {
    margin-top: 50px;
    margin-left: 40px;
  }
  .main-about-course .wrapper-about-course .left .wrapper-image img {
    width: 80%;
  }
  .main-about-course .wrapper-about-course .right .wrapper-text {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .main-about-course .wrapper-about-course .right .wrapper-text h2 {
    text-align: left;
    font-size: 30px;
  }
  .main-learn-what h3 {
    text-align: left;
    padding: 0;
    width: 100%;
    font-size: 30px;
    line-height: 44px;
    padding-top: 60px;
  }
  .main-learn-what .wrapper-learn-what .wrapper-post {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .main-learn-what .wrapper-learn-what .wrapper-post .post {
    width: 100%;
  }
  .main-course-program h4 {
    text-align: left;
    width: 50%;
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 44px;
  }
  .main-who-get-this-course h5 {
    text-align: left;
    width: 70%;
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 44px;
  }
  .main-who-get-this-course .wrapper-who-get-this-course {
    flex-direction: column-reverse;
  }
  .main-who-get-this-course .wrapper-who-get-this-course .right .wrapper-text {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main-who-get-this-course .wrapper-who-get-this-course .right .wrapper-text p {
    padding: 0;
    margin: 0;
    width: 230%;
    text-align: left;
    margin-left: -105px;
    padding: 20px 0;
  }
  .main-complete-course h6 {
    font-size: 30px;
    line-height: 44px;
    width: 70%;
    text-align: left;
  }
  .main-complete-course .wrapper-complete {
    flex-direction: column;
  }
  .main-complete-course .wrapper-complete .post {
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
  }
  .main-join-course .wrapper-join-post {
    flex-direction: column;
  }
  .main-join-course .wrapper-join-post .post {
    width: 100%;
    margin-top: 50px;
  }
  .main-sub-footer .wrapper-sub-footer form {
    width: 100%;
  }
  footer .wrapper-footer {
    flex-direction: column;
  }
  footer .wrapper-footer .post {
    margin-top: 40px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */